@page {
    margin-bottom: 36px!important;
    border-bottom: 2px solid black;
    margin: 46px;  
    @bottom-right{
        content: counter(page);
    }
    

}


@media print{

    section:first-of-type{
        width: 100%;
        display: grid;
    }

    h3:nth-child(3){
        padding-bottom: 50%;

    }

    section:first-of-type h1{
        width: 50%;
        margin-left: 50%;
        font-weight: normal;
    }

    section:first-of-type h3{
        width: 50%;
        float: right;
        margin-left: 50%;
        font-weight: normal;

    }

    h2{
        text-transform: uppercase;
        margin-left: 30%;
    }

   
    section{
        margin-top: 37px;
        margin-bottom: 37px;
        width: 100%;
        
        
    }
    
    
    p{

        width: 70%;
        margin-left:30%;
        
    }

    ol{
        margin-left: 30%;
    }


    figure{
        width: 100%;  
    }

    img{
        margin: auto;
        display: block;
    }

    table{
        margin: auto;
        border-collapse: collapse;
       
        
    }

    caption{
        margin: auto;
    }

    td, th{
        border: 1px solid black;
        padding: 5px;
    }

    td:first-of-type{
        border-right: 1px solid black;    
    }

    title{
        font-size: 50px;

    }

}